.socialsInputs {
  width: 37.2%;
  margin-right: 12%;
}

.socialsInputsTitle {
  font-size: 22px;
  font-weight: 600;
  margin: 0px 0 10px;
}

.socialsInput {
  color: #fff;
  width: 100%;
  border: none;
  border-bottom: 2px solid #737373;
  background-color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  margin-bottom: 40px;
}

.socialsInput:focus {
  outline: none;
}

.socialsIcon {
  margin-left: 5%;
}