.place_card {
  color: #fff;
  margin: 0;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  position: relative;

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    mix-blend-mode: exclusion;
  }

  &__body {
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.79) 39.9%, #000000 100%);
    width: 100%;
    height: 143px;
    border-radius: 8px;
    bottom: 0;
    padding: 0 0 15px;
  }
}

.body_title {
  position: relative;
  font-size: 20px;
  padding: 10px 30px 0;
  font-weight: 600;
}

.body_subtitle {
  position: absolute;
  top: 40px;
  left: 30px;
  font-size: 16px;
  font-weight: 600;
}

.body_studio_title {
  position: relative;
  font-size: 16px;
  float: right;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -30px;
    width: 22px;
    height: 17px;
    background: url("../../../assets/icons/camera.svg");
  }
}

.body_actions {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 20px 30px 0;

  &__views {
    position: relative;
    margin-right: 55px;
    padding-left: 26px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 22px;
      height: 17px;
      background: url("../../../assets/icons/eye.svg");
    }
  }

  &__photos {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 2px;
      right: 27px;
      width: 14px;
      height: 14px;
      background: url("../../../assets/icons/pic.svg");
    }
  }

  &__date {
    flex-grow: 1;
    text-align: right;
  }
}
