.photosSwiper {
  max-height: 603px;
  max-width: 756px;
  border-radius: 10px;
  background: #EBEBEB;

  &::before {
    content: '';
    position: absolute;
    top: 30px;
    right: 20px;
    width: 131px;
    height: 36px;
    background: url('../../../assets/icons/logo.svg') no-repeat;
    z-index: 100;
  }

  & .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;


    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide .image {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  .swiper-button-next, .swiper-button-prev  {
    position: absolute;
    top: 50%;
    width: 38px !important;
    height: 38px;
    border: 2px solid #fff;
    border-radius: 4px;
    background: rgba(184, 184, 184, 0.5);

    &::after {
      display: none;
    }
    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      width: 18px;
      height: 12px;
      transform: translate(-50%, -50%);
    }
  }

  .swiper-button-prev {
    &::before {
      background: url("../../../assets/icons/left.svg");
    }
  }

  .swiper-button-next {
    &::before {
      background: url("../../../assets/icons/right.svg");
    }
  }
}




