.search {
  margin-top: 11px;
  width: 330px;
  display: flex;
  border-radius: 8px;
  background-color: #fff;
  height: 33px;
  position: absolute;
  top: 55px;
  right: 6px;


  &__none {
    display: none;
  }

  ::placeholder {
    color: #374151;
    opacity: 0.5;
  }

  &__form_text {
    border: none;
    width: 100%;
    outline: none;
    border-radius: 8px;
    padding-left: 15px;
  }

  &__form_btn {
    border: none;
    background-color: #fff;
    border-radius: 8px;
    padding: 0;
  }
}

@media screen and (max-width: 1024px){
  .search {
    width: 270px;
    position: absolute;
    right: 36%;
    top: 13%;
  }
}

@media screen and (max-width: 768px){
  .search {
    width: 270px;
    position: absolute;
    right: 33%;
    top: 13%;
  }
}

@media screen and (max-width: 501px){
  .search {
    width: 270px;
    position: absolute;
    right: 23%;
    top: 13%;
  }
}

@media screen and (max-width: 426px){
  .search {
    width: 270px;
    position: absolute;
    right: 20%;
    top: 13%;
  }
}


@media screen and (max-width: 376px){
  .search {
    width: 270px;
    position: absolute;
    right: 13%;
    top: 13%;
  }
}



