.fade_block {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transform: scale(0);
}

.fade_block.active {
  transform: scale(1);
}

.modal {
  padding: 20px;
  min-width: 300px;

  &_header {
    position: relative;

    &__title {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
      color: #FF6D00;
      padding: 0;
      margin: 0;
    }

    &__subtitle {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
    }

    &__btn-close {
      position: absolute;
      top: 0;
      right: 0;
      width: 39px;
      height: 39px;
      border-radius: 10px;
      background: #FF6D00;
      border: none;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        background: url('../../../assets/icons/close.svg') no-repeat
      }
    }
  }

  &_body {
    position: relative;
    padding: 7px;
    max-height: 630px;
    max-width: 756px;
    background: url("../../../assets/PhotoPage/grid-box.png") no-repeat;
    background-size: cover;
    overflow: hidden;

  }

  &_footer {
    display: flex;
    justify-content: space-between;


    &_btn-group {

      &__download {
        position: relative;
        border-radius: 10px;
        background: #FF6D00;
        border: none;
        width: 158px;
        height: 44px;
        color: white;
        padding-right: 30px;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          width: 18px;
          height: 17px;
          background: url('../../../assets/icons/download.svg') no-repeat;
          background-size: cover;
        }
      }
    }
  }
}

button {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}