.publishBtnWrapper {
  width: 100%;
  text-align: right;
  margin-top: 65px;
  margin-bottom: 40px;
}

.publishBtn {
  height: 60px;
  width: 205px;
  border-radius: 10px;
  background: #FFB03B;
  font-size: 20px;
  font-weight: 600;
}