.ad_block {
  color: #FFFFFF;
}

.first_ad_block {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: -108px;
    right: 10%;
    width: 316px;
    height: 316px;
    background: url("../../../assets/icons/big_star.svg") no-repeat;
  }

  &::before {
    content: '';
    position: absolute;
    top: -47px;
    right: 144px;
    width: 180px;
    height: 180px;
    background: url("../../../assets/icons/small_star.svg") no-repeat;
  }

  &__title {
    font-family: 'Montserrat Alternates', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    max-width: 300px;
    padding: 30px 40px;
    margin-bottom: 50px;
  }

  &__description {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;;
    max-width: 300px;
    padding: 40px;
    text-align: left;
  }
}

.second_ad_block {
  width: 100%;
  text-align: center;

  &__title {
    font-family: 'Montserrat Alternates', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    padding-top: 30px;
    margin-bottom: 30px;

    &::before {
      content: '';
      position: absolute;
      top: 43px;
      right: 155px;
      width: 151px;
      height: 70px;
      background: url("../../../assets/icons/round_line.svg");
    }
  }

  &__description {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding: 0 50px;
    margin-bottom: 30px;
  }

}

.btn_call {
  border: none;
  background: #FFB03B;
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding: 10px 30px;
}
