


.card {
  position: relative;
  margin: 20px auto;

  &__about {
    position: absolute;
    top: 34px;
    left: 12px;

    &__title {
      position: absolute;
      bottom: -79px;
      left: 15px;
      font-weight: 700;
      font-size: 22px;
      line-height: 28px;
      color: #000000;
    }

    &__text {
      position: absolute;
      bottom: -113px;
      left: 15px;
      font-weight: 600;
      font-size: 18px;
      line-height: 23px;
      color: #000000;
    }

    &__date {
      position: absolute;
      right: 10px;
      bottom: -96px;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
    }
  }
}