.place_parent_title {
  color: #000;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  margin-left: 42%;
  padding-top: 14%;
}

.place {
  margin: 0 auto;

  .place__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 483px;
  }

  .place__frame {
    position: relative;
  }

  .place__frame__ramka {
    width: 380px;
  }

  .place__photo img {
    position: absolute;
    max-width: 272px;
    width: 100%;
    top: 9.6%;
    left: 9%;
  }

  .place__row {
    width: 162px;
    height: 303px;
    margin-left: 35px;
  }

  &__descr__text {
    margin-left: 11px;
  }

  .place__descr {
    display: flex;
    align-items: center;


    &__title {
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
      color: #000000;
    }

    &__bar {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
    }
  }

  .place__about {
    margin-top: 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;

    &__geotag {
      display: flex;
      gap: 13px;
    }

    &__time {
      display: flex;
      gap: 13px;
      margin: 14px 0;
    }

    &__phone {
      display: flex;
      gap: 13px;
    }
  }

  .place__prices {
    margin-top: 30px;
    //width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    p {
      margin-left: 2px;
    }

    .prices__soup {
      display: flex;
      align-items: center;
    }

    .prices__dinner {
      display: flex;
      align-items: center;
    }

    .prices__dessert {
      display: flex;
      align-items: center;
    }

    .prices__wine {
      display: flex;
      align-items: center;
    }
  }

  .card__info__stars {
    display: flex;
    gap: 8px;
    margin-top: 30px;
  }

  .topSwiper__right {
    display: none;
  }

  .topSwiper__left {
    display: none;
  }
}


@media screen and (max-width: 1025px) {
  .place_parent_title {
    color: #000;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-left: 42%;
    padding-top: 17%;
    padding-bottom: 1%;
  }

  .place {
    margin: 0 auto;

    .place__inner {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 500px;
    }

    .place__frame {
      position: relative;
    }

    .place__frame__ramka {
      width: 300px;
    }

    .place__photo img {
      position: absolute;
      max-width: 270px;
      width: 71%;
      top: 9.6%;
      left: 9%;
    }

    .place__row {
      width: 162px;
      height: 303px;
      margin-left: 35px;
    }

    &__descr__text {
      margin-left: 11px;
    }

    .place__descr {
      display: flex;
      align-items: center;


      &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        color: #000000;
      }

      &__bar {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
      }
    }

    .place__about {
      margin-top: 30px;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #000000;

      &__geotag {
        display: flex;
        gap: 13px;
      }

      &__time {
        display: flex;
        gap: 13px;
        margin: 14px 0;
      }

      &__phone {
        display: flex;
        gap: 13px;
      }
    }

    .place__prices {
      margin-top: 30px;
      //width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      p {
        margin-left: 2px;
      }

      .prices__soup {
        display: flex;
        align-items: center;
      }

      .prices__dinner {
        display: flex;
        align-items: center;
      }

      .prices__dessert {
        display: flex;
        align-items: center;
      }

      .prices__wine {
        display: flex;
        align-items: center;
      }
    }

    .card__info__stars {
      display: flex;
      gap: 8px;
      margin-top: 30px;
    }
  }

  .topSwiper__right {
    display: none;
  }

  .topSwiper__left {
    display: none;
  }
}

@media screen and (max-width: 943px) {
  .place_parent_title {
    color: #000;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-left: 42%;
    padding-top: 17%;
    padding-bottom: 3%;
  }

  .place {

    .place__inner {

    }

    .place__frame {
      position: relative;
    }

    .place__frame__ramka {
      width: 250px;
    }

    .place__photo img {
      position: absolute;
      max-width: 270px;
      width: 71%;
      top: 9.6%;
      left: 9%;
    }

    .place__row {
      width: 162px;
      height: 303px;
      margin-left: 35px;
    }

    &__descr__text {
      margin-left: 11px;
    }

    .place__descr {
      display: flex;
      align-items: center;


      &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        color: #000000;
      }

      &__bar {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
      }
    }

    .place__about {
      margin-top: 30px;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #000000;

      &__geotag {
        display: flex;
        gap: 13px;
        font-size: 14px;

        img {
          width: 10px;
        }
      }

      &__time {
        display: flex;
        font-size: 14px;
        gap: 13px;
        margin: 14px 0;

        img {
          width: 10px;
        }
      }

      &__phone {
        display: flex;
        gap: 13px;
        font-size: 14px;

        img {
          width: 10px;
        }
      }
    }

    .place__prices {
      margin-top: 30px;
      //width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      font-size: 12px;

      p {
        margin-left: 1px;
      }

      .prices__soup {
        display: flex;
        align-items: center;

        img {
          width: 12px;
        }
      }

      .prices__dinner {
        display: flex;
        align-items: center;

        img {
          width: 12px;
        }
      }

      .prices__dessert {
        display: flex;
        align-items: center;

        img {
          width: 12px;
        }
      }

      .prices__wine {
        display: flex;
        align-items: center;

        img {
          width: 12px;
        }
      }
    }

    .card__info__stars {
      display: flex;
      gap: 8px;
      margin-top: 30px;
      font-size: 14px;

      img {
        width: 16px;
      }
    }
  }

  .topSwiper__right {
    display: none;
  }

  .topSwiper__left {
    display: none;
  }
}

@media screen and (max-width: 846px) {
  .place_parent_title {
    color: #000;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-left: 38%;
    padding-top: 20%;
    padding-bottom: 6%;
  }
  .place {
    &__buttons{
      display: flex;
      column-gap: 20px;
    }

    .place__inner {
      flex-direction: column;
    }

    .place__frame {
      position: relative;
    }

    .place__frame__ramka {
      width: 250px;
    }

    .place__photo img {
      position: absolute;
      max-width: 270px;
      width: 71%;
      top: 9.6%;
      left: 9%;
    }

    .place__row {
      margin-top: 20px;
      width: 162px;
      height: 305px;
      margin-left: -40px;
    }

    &__descr__text {
      margin-left: 11px;
    }

    .place__descr {
      display: flex;
      align-items: center;


      &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        color: #000000;
      }

      &__bar {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
      }
    }

    .place__about {
      margin-top: 30px;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
      margin-left: 45px;

      &__geotag {
        display: flex;
        gap: 13px;
        font-size: 14px;

        img {
          width: 10px;
        }
      }

      &__time {
        display: flex;
        font-size: 14px;
        gap: 13px;
        margin: 14px 0;

        img {
          width: 10px;
        }
      }

      &__phone {
        display: flex;
        gap: 13px;
        font-size: 14px;

        img {
          width: 10px;
        }
      }
    }

    .place__prices {
      margin-top: 30px;
      //width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      font-size: 12px;
      margin-left: 40px;

      p {
        margin-left: 1px;
      }

      .prices__soup {
        display: flex;
        align-items: center;

        img {
          width: 12px;
        }
      }

      .prices__dinner {
        display: flex;
        align-items: center;

        img {
          width: 12px;
        }
      }

      .prices__dessert {
        display: flex;
        align-items: center;

        img {
          width: 12px;
        }
      }

      .prices__wine {
        display: flex;
        align-items: center;

        img {
          width: 12px;
        }
      }
    }

    .card__info__stars {
      display: flex;
      gap: 8px;
      margin-top: 30px;
      font-size: 14px;
      margin-left: 37px;

      img {
        width: 16px;
      }
    }
    .topSwiper__right {
      display: block;
    }

    .topSwiper__left {
      display: block;
    }
  }
}

@media screen and (max-width: 426px){
  .place_parent_title {
    color: #000;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-left: 25%;
    padding-top: 35%;
    padding-bottom: 6%;
  }
}