* {
  font-family: 'Montserrat Alternates', sans-serif;
}

.adminNavbar {
  width: 16%;
  min-height: 100vh;
  height: 50vh;
  background-color: #2F2F2F;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;


  &List {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    width: 70%;
    margin-left: 15%;
  }
  &Item {
    color: #FFF;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding: 15px 0 15px 15px;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 18px;
  }
  &ItemActive {
    border-top: 1px solid #838383;
    border-bottom: 1px solid #838383;
    padding: 15px 0 15px 15px;
    color: #FFB03B;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 18px;

    & img {
      filter: brightness(0) saturate(100%) invert(87%) sepia(27%) saturate(4016%) hue-rotate(328deg) brightness(103%) contrast(102%);
    }
  }
}

