.order {
  display: flex;
  background-repeat: no-repeat;
  background-image: url('../../../assets/icons/order/orderbg.png');
  background-size: 100% 100%;
  margin-bottom: 5%;
  height: 500px;
  justify-content: space-evenly;

  @media (max-width: 768px) {
    background-image: url('../../../assets/icons/order/film-sm.png');
    flex-direction: column;
    height: 649px;
  }

  .order__image {
    width: 50%;
    padding: 171px 9vw 33px 8vw;
    box-sizing: border-box;
    @media (max-width: 768px) {
      width: 100%;
      padding: 66px 9vw 0 17vw;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: rotate(1deg);
    }
  }

  .order__service {
    width: 50%;
    text-align: center;
    box-sizing: border-box;
    padding: 150px 7% 0 0;
    @media (max-width: 768px) {
      width: 100%;
      padding: 0 0 0 0;
    }

    & > h4 {
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      color: #FFFFFF;
      text-align: center;
      margin-bottom: 25px;
      @media (max-width: 768px) {
        font-size: 22px;
        margin: 10px;
      }

    }

    & > p {
      color: #FFFFFF;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      margin-bottom: 50px;
      @media (max-width: 768px) {
        font-size: 12px;
        margin-bottom: 10px;
        padding: 0 18%;
      }
    }

    .service__btn {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #000000;
      background-color: #FFB13B;
      border-radius: 10px;
      text-align: center;
      border: none;
      cursor: pointer;
      transition: all .5s;
      @media (max-width: 768px) {
        width: 163px;
        height: 52px;
      }

    }
  }

}