.container_videoReport {
  width: 100%;
  height: 100%;
  cursor: pointer;


  &__prevImage {
    width: 100%;
    object-fit: cover;
  }

  &__information {
    position: absolute;
    z-index: 10;
    color: #fff;
    bottom: 0;
    top: 50%;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.79) 39.9%, #000000 100%);
    mix-blend-mode: hard-light;
    padding-top: 50px;
    padding-left: 20px;
    text-align: left;

    & span {
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      position: relative;
      padding-left: 30px;


      &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 22px;
        height: 17px;
        background: url("../../../assets/icons/eye.svg") no-repeat;
      }
    }

    & h5 {
      font-family: "Mont, sans-serif";
      font-weight: 600;
      font-size: 20px;
      line-height: 26px;
      margin: 0;
      padding-top: 10px;
    }
  }

}