$path: "../../../../src/assets/PhotoPage";

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 367px;
  grid-gap: 10px;
  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 50%);
  }
  @media (max-width: 756px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid_item {
  position: relative;
  color: #fff;
  padding: 7px;
}

.grid_item_1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background: url($path + "/grid-horizontal.png") no-repeat;
  background-size: cover;
  @media (max-width: 900px) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  @media (max-width: 756px) {
    display: none;
  }
}

.grid_item_2 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  background: url($path + "/grid-box.png") no-repeat;
  background-size: cover;
  @media (max-width: 900px) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  @media (max-width: 756px) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

}

.grid_item_3 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background: url($path + "/grid-box.png") no-repeat;
  background-size: cover;
  @media (max-width: 900px) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  @media (max-width: 756px) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.grid_item_4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background: url($path + "/grid-box.png") no-repeat;
  background-size: cover;
  @media (max-width: 900px) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  @media (max-width: 756px) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}

.grid_item_5 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background: url($path + "/grid-box.png") no-repeat;
  background-size: cover;
  @media (max-width: 900px) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  @media (max-width: 756px) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
}

.grid_item_6 {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
  background: url($path + "/grid-vertical.png") no-repeat;
  background-size: cover;
  @media (max-width: 900px) {
    grid-column: 1 / 2;
    grid-row: 4 / 6;
  }
  @media (max-width: 756px) {
    grid-column: 1 / 2;
    grid-row: 5 / 7;
  }
}

.grid_item_7 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  background: url($path + "/grid-box.png") no-repeat;
  background-size: cover;
  @media (max-width: 900px) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
  @media (max-width: 756px) {
    display: none;
  }
}

.grid_item_8 {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  background: url($path + "/grid-box.png") no-repeat;
  background-size: cover;
  @media (max-width: 900px) {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
  }
  @media (max-width: 756px) {
    display: none;
  }
}

.grid_item_9 {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  background: url($path + "/grid-box.png") no-repeat;
  background-size: cover;
  @media (max-width: 900px) {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
  }
  @media (max-width: 756px) {
    display: none;
  }
}

.grid_item_10 {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  background: url($path + "/grid-box.png") no-repeat;
  background-size: cover;
  @media (max-width: 900px) {
    grid-column: 1 / 2;
    grid-row: 8 / 9;
  }
  @media (max-width: 756px) {
    display: none;
  }
}

.grid_item_11 {
  grid-column: 3 / 4;
  grid-row: 5 / 7;
  background: url($path + "/grid-vertical.png") no-repeat;
  background-size: cover;
  @media (max-width: 900px) {
    grid-column: 2 / 3;
    grid-row: 6 / 8;
  }
  @media (max-width: 756px) {
    display: none;
  }
}

.grid_item_advertising_1 {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  background: url($path + "/grid-horizontal.png") no-repeat;
  background-size: cover;
  @media (max-width: 900px) {
    grid-column: 1 / 2;
    grid-row: 7 / 8;
  }
  @media (max-width: 756px) {
    display: none;
  }
}

.grid_item_advertising_2 {
  grid-column: 1 / 3;
  grid-row: 6 / 7;
  background: url($path + "/grid-horizontal.png") no-repeat;
  background-size: cover;
  @media (max-width: 900px) {
    grid-column: 1 / 3;
    grid-row: 9 / 10;
  }
  @media (max-width: 756px) {
    display: none;
  }
}