.fileInputLinkWrapper {
  color: white;
  font-size: 22px;
  margin: 0 0 0 17px ;
}

.fileInputLinkWrapper h4 {
  margin: 20px 0 20px 0;
}

.fileInputLinkIcon {
  margin-left: 15px;
}

.fileInputLink {
  color: #fff;
  width: 100%;
  border: none;
  border-bottom: 2px solid #737373;
  background-color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.fileInputLink:focus {
  outline: none;
}